{% extends "base.html"%}
{% block title%} Details {% endblock %}

{% block content%}

    <h1>{{ movie.title }}</h1>
    <p>{{ movie.description }}</p>
    <p><strong>Price:</strong> {{ movie.price }}</p>
    <p><strong>Released:</strong> {{ movie.released }}</p>
    <p><strong>Rating:</strong> {{ movie.rating }}</p>
    <p><strong>Score:</strong> {{ movie.score }}</p>

    <p><strong>Directors:</strong> 
        <ul class="csv">
            {% for dir in directors %}
            <li>{{dir.name}}</li>
            {% endfor %} 
        </ul>
    </p>

    <p><strong>Actors:</strong> 
        <ul class="csv">
            {% for actor in actors %}
            <li>{{actor.name}}</li>
            {% endfor %} 
        </ul> 
    </p>

    </br>
    <tr>
        <button type="submit" class="btn btn-primary" method="POST">Add to Favorites</button>
        <button type="submit" class="btn btn-primary" method="POST">Buy</button>
    </tr>
    
{% endblock %}

