{% extends "base.html"%} {% block title%} Favorites {% endblock %} {% block
content%}
</br>
<h3>My favorites</h3>
{% if favorites %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for row in favorites %}
    <tr>
      <td>{{row.title}}</td>
      <td>
        <form action="/remove_favorite" method="POST" style="display: inline">
          <input type="hidden" name="favorite_title" value="{{ row.title }}" />
          <button class="btn btn-primary" type="submit">Remove</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<br />
<h5>No favorites saved yet :(</h5>
<button class="btn btn-primary" onclick="window.location.href='/'">
  Search Movies
</button>
{% endif %} {% endblock %}
