{% extends "base.html"%}
{% block title%} My Movies {% endblock %}

{% block content%}
</br>
<h3>My Movies</h3>

{% if paid_movies %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>
        {% for row in paid_movies %}
            <tr>
                <td>{{row.title}}</td>
                <td><button class="btn btn-info" onclick="seeDetails('{{row.movieid}}')">Details</button></td>
            </tr>           
        {% endfor %}
    </tbody>
</table>
{% else %}
<br>
<h5>No movies purchased yet!<h5>
<button class="btn btn-primary" onclick="window.location.href='/'">Search Movies</button>
{% endif %}

{% endblock %}