<h3>{{numrows}} results found</h3>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr>
            <td>{{row.title}}</td>
            <td>{{row.rating}}</td>
            <td>{{row.score}}</td>
            <td>
                <button class="btn btn-info" onclick="seeDetails('{{row.movieid}}')">Details</button>
                {% if session['isadmin'] %}
                <button class="btn btn-warning" onclick="getUpdateForm('{{row.movieid}}')">Update</button>
                <button class="btn btn-danger" onclick="remove_movie('{{row.movieid}}')">Remove</button>
                {% else %}
                <button class="btn btn-primary" onclick="addToFavorites('{{row.movieid}}')">Add to Favorites</button>
                <button class="btn btn-success" onclick="buyMovie('{{row.movieid}}', '{{row.title}}', '{{row.type}}', '{{row.price}}')">Buy</button>
                {% endif %}
            </td>  
        </tr>        
    {% endfor %}
    </tbody>

</script>