<h3>{{numrows}} results found</h3>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr>
            <td>{{row.title}}</td>
            <td>{{row.rating}}</td>
            <td>{{row.score}}</td>
            <td>
            <button class="btn btn-info" onclick="seeDetails({{row.movieid}})">Details</button>
            <button type="submit" class="btn btn-primary" method="POST" onclick="addToFavorites({{row.movieid}})">Add to Favorites</button>
            <button type="submit" class="btn btn-primary" method="POST"">Buy</button>
            </td>  
        </tr>
               
        
    {% endfor %}
    </tbody>

<script type=text/javascript>
    function seeDetails(movieID) {
        window.location.href = "/details/" + movieID;
    }

    function addToFavorites(movieid) {
    $.ajax({
      url: "add_to_favorites",
      method: "POST",
      data: { movieid: movieid },
      success: function (data) {
        alert(data.message);
      },
      error: function (xhr, status, error) {
        alert("Error: " + error);
      },
    });
  }

</script>